h1,h3,h4{
    color: rgb(168, 24, 24);
}
body{
    margin: 0px 15px;
    background-color: azure;
}
#baner{
    background-color: rgb(55, 26, 184);
}
a{
    margin: 20px 20px;
}
#log{
    width: 150px;
    height: 150px;
}